/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
}

/* Container Styles */
div {
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    max-width: 400px;
    width: 90%;
    text-align: center;
}

/* Heading */
h1 {
    font-size: 1.8em;
    margin-bottom: 20px;
    color: #222;
}

/* Label */
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1em;
}

/* Input Field */
input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 4px;
    outline: none;
    transition: border 0.3s ease;
}

input:focus {
    border-color: #481594;
}

/* Button */
button {
    background-color: #7d27b65b;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ad2dd8;
}

/* Output Span */
span {
    display: block;
    margin: 20px 0;
    font-size: 1.2em;
    color: #555;
    word-break: break-word;
}

/* QR Code Image */
img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
   
}
